#orb {
    height: 69%;
    width: 69%;
    padding: 5px;
}

.hide {
    display: none;
}

#hobbit {
    height: 50%;
    width: 50%;
    padding: 5px;
}

#reset {
    display: flow-root;
}

h2 {
    text-shadow: 5px 5px 5px aqua;
}

h1 {
    text-shadow: 2px 2px 5px rgba(187, 4, 4, 0.829);
}

p {
    font: bolder;
    font-variant: small-caps;
    margin-left: 75px;
    text-shadow: 2px 2px 5px rgba(187, 4, 4, 0.829);
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#reset {
    margin-left: 75px;
}
